@* Generator: WebPage *@

@{
    var items = Piranha.Manager.Menu.Items.
        Where(g => g.IsActive()).Select(g => g.Items).SingleOrDefault() ;
    }
@if (items != null) {
<ul class="tabs">
    @foreach (var item in items) {
    <li><a@(item.IsActive() ? " class=selected" : "") href="@Href(item.Href)">@item.Name</a></li>
    }
</ul>
}