/**
 * Piranha manager standard theme 2012
 *
 * Håkan Edling / Niklas Westerström
 */
 
html {
    background: #edede9;
    color: #444;
    }
body {
    font: normal 13px "Helvetica Neue", Helvetica, Arial;
    padding-top: 98px;
    }
.body {
    margin-bottom: 20px;
    }
a {
    color: #1F7EA6;
    }
    
.top {
    background: #292929;
    padding: 11px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 1000;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    }
.top .home,
.top .site {
    display: block;
    float: left;
    }
.top .site {
    color: #2ea1d1;
    font-size: 12px;
    margin: 11px 0 0 20px;
    }
.top .site a {
    text-decoration: none;
    }
.top .site a:hover {
    text-decoration: underline;
    }
.top .logo-small {
    display: none;
    }
div.title {
    margin-bottom: 4px;
    }

/**
 * Menu
 */
.menu    { 
    float: right; 
    margin-top: 10px; 
    }
.menu li {
    float: left;
    margin-left: 4px;
    }
.menu li a {
    display: block;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    padding: 0 12px;
    font-size: 13px;
    margin: 0 0 0 6px;
    background: #1f7ea6;
    background-position: 6px 50%;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    }
.menu li.selected a {
    background-color: #55a812;
    }

/**
 * Primary border color (Boxes, containers & lists)
 */
.toolbar,
table.tabbed,
.tabs li a.selected,
.edit, 
.templates .preview {
    border-color: #bcbaaf;
    }
    
/**
 * Secondary border color (Input & form elements)
 */
.toolbar input,
.toolbar .search,
.form li,
.input,
.chzn-container-multi .chzn-choices,
.chzn-container-active .chzn-choices,
.chzn-container-multi .chzn-choices .search-choice,
.chzn-container .chzn-drop {
    border-color: #c9c6bc;
    }

/**
 * Third border color (Boxes & lists)
 */

.box,
table.list tr {
    border-color: #d2d0c9;
    }

/**
 * Toolbar
 */
.toolbar {
    background: #dad9d3;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.04);
    z-index: 100;
    }
.toolbar .inner {
    padding: 6px 14px 6px 1px;
    }
.toolbar li {
    float: left;
    padding: 0 5px;
    position: relative;
    }
.toolbar input {
    border-width: 1px;
    border-style: solid;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px; /* Fix for iPad */
    }
.toolbar .search {
    border-width: 1px;
    border-style: solid;
    border-left: 0px none;
    height: 42px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    }
.toolbar a {
    display: block;
    width: 56px;
    border-radius: 4px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    padding-top: 36px;
    padding: 38px 0 2px;
    color: #444;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
.toolbar a:hover {
    background-color: #cac9c3;
    }
         
/**
 * Boxes
 */
.box {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    }
.box .title {
    padding: 10px 14px 0;
    }
.box .separator {
    background: #ddd;
    height: 1px;
    width: 100%;
    padding: 0 15px;
    margin-left: -15px;
    }
.expandable .title {
    background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfElEQVR42qWT0QlAIQhFG6Vl3KZJaoqGcZygAYKegkEUPoj7cT5K7yVNQ0rphIQisNAMtjs68/dDFLLQheHQLScu3S6ul8CnqmY3yBp4JC8D8p495wzKTzkUrDnj1cAoGmTAgDXYbtGNY9ZgA7gEuInwN4KDhI8yvkzwOn/srR2fTcXVhQAAAABJRU5ErkJggg==) 98% 50% no-repeat;
    }
.expandable .expanded {
    background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeklEQVR42qXT2wnAIAyFYUdxmWzjJDqFwziOkAEEe4QUJFChnofvoRJ+qJeQUvIECjToptma+Pn9I0IGhfFBbSb6QITqhk8qxD2QYfyU34CAXgQUJNjmjEtlBRoRaCvQ98U5ZzhxgU4H6F+gN5E+RvIi8VeZf0z0c34A0LEUw8N2jIkAAAAASUVORK5CYII=) 98% 50% no-repeat;
    }
.floatbox .title,
.floatbox .close-btn {
    background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR42qWQQSxjURSGW0UoJhYM795q731VQtt4iCaaaCcRiUQklrOSSGzEavaEMgtKE2ywEJVYdEdpQpMZrUlEghBqMiJhFhNbSzaSM+fdeE/7zNh4yZd7zvnP+c991wQA7yIn+f2ptfcmoEz+r/k2oAzdBlu+/NPgusv3+VJxwUUjg19+b8I4fBVQQhmvEzIeGa6CzRHYXzbrBj+7/dZjjxMOORUc1dvhvP3FJNOhhI7dMmpEcNTA4cznbtMNksVWc5rT2bTTBgJs+lFnh5N2b+w02Dxy4OaQwpquyzSVrqkuefUGSactsitTSCK7jMA3vMleI4cdJonas5Zab+D5xjfQiaPJJjYKcOsGGml5XKbfV921BcZHfEVMpocxTsHA/VabIja/aRDldHyNkScEjEQ5ib9psMRpaBkbNZaeya3RBNw95hrMuRymeUbG5x0ENObUk9HtBUbDIs6GkcRCrb1IN4jUMeu0QwIDqdEmV56qhxmJTBn0MKe+nF+YkmsGJtB9wi4BnnsPfT1iWGPSQWaEhnzltsU/nX6hmywmQTkeZf1S5dgw/ZgoybcomHuw3qqCsZqzQalyZYhWrWFcgXzQb2BBD6RI24ZfMeZl2WCtNEsvVGc0g3fxF7yqHwCAJ0miAAAAAElFTkSuQmCC) 96% 50% no-repeat;
    }
.floatbox th.close {
    width: 16px;
    }
.floatbox .close-btn {
    display: block;
    width: 16px;
    height: 16px;
    margin: 4px 9px;
    cursor: pointer;
    }
.box .title h2 {
    display: inline;
    font-size: 20px;
    margin: 0;
    }
.box .title .buttons {
    float: right;
    }
.sys-message .box {
    border: 1px solid #ceae00;
    text-align: center;
    margin: 30px 0 0;
    background-image: linear-gradient(bottom, rgb(252,229,99) 17%, rgb(252,234,130) 59%, rgb(252,242,184) 80%);
    background-image: -o-linear-gradient(bottom, rgb(252,229,99) 17%, rgb(252,234,130) 59%, rgb(252,242,184) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(252,229,99) 17%, rgb(252,234,130) 59%, rgb(252,242,184) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(252,229,99) 17%, rgb(252,234,130) 59%, rgb(252,242,184) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(252,229,99) 17%, rgb(252,234,130) 59%, rgb(252,242,184) 80%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(252,229,99)),
	    color-stop(0.59, rgb(252,234,130)),
	    color-stop(0.8, rgb(252,242,184))
    );
    }
.sys-message .box.success {
    border-color: #436c00;
    background-image: linear-gradient(bottom, rgb(161,202,115) 17%, rgb(180,218,138) 59%, rgb(201,233,162) 80%);
    background-image: -o-linear-gradient(bottom, rgb(161,202,115) 17%, rgb(180,218,138) 59%, rgb(201,233,162) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(161,202,115) 17%, rgb(180,218,138) 59%, rgb(201,233,162) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(161,202,115) 17%, rgb(180,218,138) 59%, rgb(201,233,162) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(161,202,115) 17%, rgb(180,218,138) 59%, rgb(201,233,162) 80%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(161,202,115)),
	    color-stop(0.59, rgb(180,218,138)),
	    color-stop(0.8, rgb(201,233,162))
    );
    }
.sys-message .box.error {
    border-color: #df6161;
    color: #d10000;
    background-image: linear-gradient(bottom, rgb(232,140,140) 17%, rgb(234,155,155) 59%, rgb(238,173,173) 80%);
    background-image: -o-linear-gradient(bottom, rgb(232,140,140) 17%, rgb(234,155,155) 59%, rgb(238,173,173) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(232,140,140) 17%, rgb(234,155,155) 59%, rgb(238,173,173) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(232,140,140) 17%, rgb(234,155,155) 59%, rgb(238,173,173) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(232,140,140) 17%, rgb(234,155,155) 59%, rgb(238,173,173) 80%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(232,140,140)),
	    color-stop(0.59, rgb(234,155,155)),
	    color-stop(0.8, rgb(238,173,173))
    );
    }

/**
 * Forms
 */    
.form li {
    background: #edede9;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 2px;
    }
.form .input, .form p {
    margin-bottom: 0;
    border: none;
    }
.input input:focus,
.input select:focus,
.input textarea:focus {
    outline: none;
    }
input[type=checkbox] {
    -webkit-appearance: checkbox;
    }
.input {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0 0 4px #ececec;
    }
.form label {
    text-indent: 10px;
    font-weight: normal;
    margin-top: 7px;
    color: #666;
    }
.form p {
    color: #666;
    padding: 6px 0 6px 10px;
    }
.grid_3 label, .grid_4 label {
    padding: 0 0 8px;
    }
.upload button {
    width: 90px;
    height: 30px;
    border-radius: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }

/**
 * Buttons
 */
.btn {
    height: 24px;
    padding: 0 12px 2px;
    font-size: 13px;
    margin: 0 0 0 4px;
    background: #666;
    color: #eee;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
.btn.active,
.edit table.template td.active {
    color: #fff;
    background: #55a812;
    }

/**
 * Lists
 */
table.list {
    }
table.list tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    }
table.list tbody tr:hover {
    background: #f2f2ee;
    }
table.list tbody td:first-child {
    padding: 0;
    }
table.list tbody td:first-child > * {
    display: block;
    padding: 10px 20px;
    }
table.list tbody td:first-child > div {
    padding: 0;
    margin: 10px 20px;
    }
table.list tfoot {
    display: none;
    }
table.list thead tr {
    background: #fff;
    color: #5f5b4c;
    font-size: 15px;
    border: 1px solid #d2d0c9;
    border-radius: 3px;
    }
.box table.list {
    background: #fff;
    border-style: none;
    }
    
/**
 * Tabs
 */
.tabs {
    float: right;
    margin-bottom: -1px;
    }
.tabs li { 
    float: left; 
    margin-left: 4px;
    }
.tabs li a {
    display: block;
    color: #1f7ea6;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 3px;
    }
.title .tabs li a {
    text-transform: uppercase;
    }
.tabs li a.selected {
    background: #fff;
    color: #444;
    padding: 7px 12px;
    border: 1px solid #d2d0c9;
    border-bottom-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
.title .tabs li a.selected {
    background: #55a812;
    color: #fff;
    border: 1px solid #43890b;
    border-radius: 3px;
    }

/**
 * Templates
 */
.edit, .templates .preview {
    border-width: 1px;
    border-style: solid;
    }
.templates .preview {
    width: 120px;
    height: 120px;
    }
.edit table.template {
    margin-left: 1px;
    }
table.template td {
    border: solid 4px #fff;
    background: #99d3de;
    }    
table.template td.locked {
    border: solid 4px #fff;
    background: #99d3de url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAI0lEQVQIW2OYefkeHP0HAwY0PpDBgMaHCiHzQUJofKgQmg0AMpJazRePtmQAAAAASUVORK5CYII=);
    }

/**
 * Harvest chosen.
 */
.chzn-container-multi .chzn-choices {
    border: none 0px;
    background: #fff;
    padding: 0;
    margin: 0;
    width: 680px;
    }
.grid_3 .chzn-container-multi .chzn-choices {
    width: auto;
    }
.chzn-container-active .chzn-choices {
    border: none 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow; none;
    }
.chzn-container-multi .chzn-choices .search-field {
    border: none 0px;
    background: #fff;
    height: 20px;
    }
.chzn-container-multi .chzn-choices .search-field input {
    font-size: 14px;
    height: 16px;
    margin: 4px 0 0;
    padding: 0;
    }
.chzn-container .chzn-drop {
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow; none;
    }
.chzn-container-multi .chzn-results {
    margin: 0;
    }
.chzn-container .chzn-results li {
    background: #fff;
    border: none 0;
    }
.chzn-container .chzn-results .highlighted {
    background: #666;
    color: #eee;
    }
.chzn-container-multi .chzn-choices .search-choice {
    color: #666;
    }

/**
 * TinyMCE Editor
 */
.content-editor .inner { border-top: 0 none !important; padding: 0; }
.content-editor .editor { border: 0 none; width: 100%; }
.content-editor .form { padding: 14px; }
.content-editor .defaultSkin td.mceToolbar { padding: 2px 10px 6px; border-bottom: solid 1px #ddd !important; }
.content-editor .defaultSkin .mceButton { background: transparent; padding: 3px; border: 0; border-radius: 3px; }
.content-editor .defaultSkin a.mceButtonActive, .content-editor .defaultSkin a.mceButtonSelected { background: #99d3de; border: 0; }
.content-editor .defaultSkin a.mceButtonActive:hover, .content-editor .defaultSkin a.mceButtonSelected:hover { background: #89c3ce; border: 0; }
.content-editor .defaultSkin .mceButton:hover { background: #ddd; border: 0; }
.content-editor .region-body .defaultSkin table.mceLayout { border-width: 0px }
.content-editor .region-body .defaultSkin table.mceLayout tr.mceFirst td { border-width: 0px; padding-bottom: 1px; }
.content-editor .region-body .defaultSkin table.mceLayout tr.mceLast td { border-width: 0px }
.content-editor table.list tbody tr:first-child { background: #eee; }
.content-editor .defaultSkin table.mceToolbar { padding-bottom: 6px; }
.content-editor .defaultSkin .mceListBox .mceText { font-family: "Helvetica Neue",Helvetica,Arial; font-size: 12px; line-height: 25px; height: 24px; margin-top: 1px; }
.content-editor .defaultSkin .mceListBox .mceOpen { height: 24px; background-position: -741px 3px; margin-top: 1px; }
.content-editor .region-body .defaultSkin table.mceLayout tr.mceFirst {
    height: 40px;
    }
.content-editor .region-body .defaultSkin table.mceLayout tr.mceFirst td.fixed-toolbar {
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -386px;
    padding: 6px 10px;
    position: fixed;
    top: 50px;
    width: 826px;
    }

/**
 * jQuery UI Datepicker
 */
.ui-widget {
    font: 14px "Helvetica Neue",Helvetica,Arial;
    }
.ui-widget-header {
    background: #ddd;
    border-color: #ddd;
    color: #444;
    }
.ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-active {
    background: #eee;
    border-color: #eee;
    color: #444;
    }
.ui-widget-content 
.ui-state-active, 
.ui-widget-header 
.ui-state-active {
    background: #54bd00;
    border-color: #439700;
    color: #444;
    }
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #eee;
    border-color: #ccc;
    }

/**
 * Responsive
 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .toolbar li:hover .tooltip {
        display: none;
        } 
    }
@media (max-width: 800px) {
    body{min-width:768px}.container_12{width:768px}.container_12 .grid_1{width:44px}.container_12 .grid_2{width:108px}.container_12 .grid_3{width:172px}.container_12 .grid_4{width:236px}.container_12 .grid_5{width:300px}.container_12 .grid_6{width:364px}.container_12 .grid_7{width:428px}.container_12 .grid_8{width:492px}.container_12 .grid_9{width:556px}.container_12 .grid_10{width:620px}.container_12 .grid_11{width:684px}.container_12 .grid_12{width:748px}

    .top .logo-regular {
        display: none;
        }
    .top .logo-small {
        display: inline;
        }
    .edit, .templates .preview {
        width: auto;
        }
    ul.sitemap .type {
        width: 140px;
        }
    }