@model List<Piranha.Models.Manager.PageModels.EditModel.PagePlacement>
@{
    Layout = "";
}
<select id="Page_Seqno" name="Page.Seqno">
@foreach (var s in Model) {
<option value="@s.Seqno"@(s.IsSelected ? " selected=selected" : "")>@s.Title</option>
}
</select>
