.box {
  background: #fff;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}
.box.overflow {
  overflow: visible;
}
.box .inner {
  padding: 14px;
  border-top: 1px solid #dddddd;
}
.box.content-editor .inner,
.box .content-editor .inner {
  border-top: 0 none !important;
  padding: 0;
}
.box .title {
  background: #eee;
  padding: 10px 14px;
  _border-bottom: 1px solid #dddddd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.box .title h2 {
  display: inline;
  font-size: 18px;
  margin: 0;
}
.box .title small {
  float: right;
  margin-top: 4px;
  color: #999;
}
.box .title .buttons {
  float: right;
}
.box .separator {
  background: #ddd;
  height: 1px;
  width: 100%;
  padding: 0 15px;
  margin-left: -15px;
}
.box hr {
  border-color: #ccc;
  background: #ccc;
  border: none 0px;
  height: 2px;
}
.box .optional {
  display: none;
}
.box .expanded + .optional {
  display: block;
}
.expandable h2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAiklEQVR42u3UMQtAQBgGYCaSVUn+gDJdsRr8A8OVH6Akq0jCPz/vaBD3cbfohmd93+6++84SQmhlCkyBngIGK4xEK+SyJ6hgJ+KUK3KgIYS34FJnEMAgET5B+HbICWwPBenXV1TchJeqnim/CK/BVlXgQXcK78FXvWgRzLBArGuTGWTmLzIFPys4AJGS4Db0ZtACAAAAAElFTkSuQmCC) 97% 60% no-repeat;
}
.expandable h2.expanded {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAh0lEQVR42u3UsQqCUBhA4SbD1hDEB2hwUWoWfARBwQcQRHAVIyL53/x2BmkR1FvXQLjDN5/tHJRSm7IBG/h/IMJ1q4CPB54ITAdcNJBRi5PJQAEBPkpTgQQCTKS/Bi4YIDPCbwNndJAFPTzdgIMKslKNo04gg2jK1wZivHDXNOBmX2QDOwy8AQ+R3/urUjdKAAAAAElFTkSuQmCC) 97% 60% no-repeat;
}
.help {
  display: none;
}
.help .inner {
  background: rgba(255, 255, 255, 0.08);
  color: #ccc;
  line-height: 150%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 10px;
  padding: 30px;
}
.box-tabs li {
  float: left;
}
.box-tabs li a {
  background: #ddd;
  color: #444;
  display: block;
  float: left;
  text-decoration: none;
  padding: 7px 12px 10px;
  margin: 0 6px -11px 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.box-tabs li.selected a {
  background: #fff;
  color: #000;
  border: solid 1px #dddddd;
  border-bottom: none;
}
.grid_3 .expandable .title,
.grid_3 .expandable .expanded {
  background-position: 94% 50%;
}
.expandable .title {
  background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfElEQVR42qWT0QlAIQhFG6Vl3KZJaoqGcZygAYKegkEUPoj7cT5K7yVNQ0rphIQisNAMtjs68/dDFLLQheHQLScu3S6ul8CnqmY3yBp4JC8D8p495wzKTzkUrDnj1cAoGmTAgDXYbtGNY9ZgA7gEuInwN4KDhI8yvkzwOn/srR2fTcXVhQAAAABJRU5ErkJggg==) 98% 50% no-repeat;
}
.expandable .expanded {
  background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeklEQVR42qXT2wnAIAyFYUdxmWzjJDqFwziOkAEEe4QUJFChnofvoRJ+qJeQUvIECjToptma+Pn9I0IGhfFBbSb6QITqhk8qxD2QYfyU34CAXgQUJNjmjEtlBRoRaCvQ98U5ZzhxgU4H6F+gN5E+RvIi8VeZf0z0c34A0LEUw8N2jIkAAAAASUVORK5CYII=) 98% 50% no-repeat;
}
.floatbox .title,
.floatbox .close-btn {
  background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR42qWQQSxjURSGW0UoJhYM795q731VQtt4iCaaaCcRiUQklrOSSGzEavaEMgtKE2ywEJVYdEdpQpMZrUlEghBqMiJhFhNbSzaSM+fdeE/7zNh4yZd7zvnP+c991wQA7yIn+f2ptfcmoEz+r/k2oAzdBlu+/NPgusv3+VJxwUUjg19+b8I4fBVQQhmvEzIeGa6CzRHYXzbrBj+7/dZjjxMOORUc1dvhvP3FJNOhhI7dMmpEcNTA4cznbtMNksVWc5rT2bTTBgJs+lFnh5N2b+w02Dxy4OaQwpquyzSVrqkuefUGSactsitTSCK7jMA3vMleI4cdJonas5Zab+D5xjfQiaPJJjYKcOsGGml5XKbfV921BcZHfEVMpocxTsHA/VabIja/aRDldHyNkScEjEQ5ib9psMRpaBkbNZaeya3RBNw95hrMuRymeUbG5x0ENObUk9HtBUbDIs6GkcRCrb1IN4jUMeu0QwIDqdEmV56qhxmJTBn0MKe+nF+YkmsGJtB9wi4BnnsPfT1iWGPSQWaEhnzltsU/nX6hmywmQTkeZf1S5dgw/ZgoybcomHuw3qqCsZqzQalyZYhWrWFcgXzQb2BBD6RI24ZfMeZl2WCtNEsvVGc0g3fxF7yqHwCAJ0miAAAAAElFTkSuQmCC) 96% 50% no-repeat;
}
.floatbox th.close {
  width: 16px;
}
.floatbox .close-btn {
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px 9px 3px;
  cursor: pointer;
}
.floatbox .box .inner {
  position: relative;
}
.floatbox .loader {
  background: #ffffff url("../../img/ico-loader.gif") 50% 50% no-repeat;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.sys-message .box,
.page-message .box {
  border: 1px solid #ceae00;
  text-align: center;
  margin: 30px 0 0;
  background-image: linear-gradient(bottom, #fce563 17%, #fcea82 59%, #fcf2b8 80%);
  background-image: -o-linear-gradient(bottom, #fce563 17%, #fcea82 59%, #fcf2b8 80%);
  background-image: -moz-linear-gradient(bottom, #fce563 17%, #fcea82 59%, #fcf2b8 80%);
  background-image: -webkit-linear-gradient(bottom, #fce563 17%, #fcea82 59%, #fcf2b8 80%);
  background-image: -ms-linear-gradient(bottom, #fce563 17%, #fcea82 59%, #fcf2b8 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #fce563), color-stop(0.59, #fcea82), color-stop(0.8, #fcf2b8));
}
.sys-message .box.success,
.page-message .box.success {
  border-color: #436c00;
  background-image: linear-gradient(bottom, #a1ca73 17%, #b4da8a 59%, #c9e9a2 80%);
  background-image: -o-linear-gradient(bottom, #a1ca73 17%, #b4da8a 59%, #c9e9a2 80%);
  background-image: -moz-linear-gradient(bottom, #a1ca73 17%, #b4da8a 59%, #c9e9a2 80%);
  background-image: -webkit-linear-gradient(bottom, #a1ca73 17%, #b4da8a 59%, #c9e9a2 80%);
  background-image: -ms-linear-gradient(bottom, #a1ca73 17%, #b4da8a 59%, #c9e9a2 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #a1ca73), color-stop(0.59, #b4da8a), color-stop(0.8, #c9e9a2));
}
.sys-message .box.error,
.page-message .box.error {
  border-color: #df6161;
  color: #d10000;
  background-image: linear-gradient(bottom, #e88c8c 17%, #ea9b9b 59%, #eeadad 80%);
  background-image: -o-linear-gradient(bottom, #e88c8c 17%, #ea9b9b 59%, #eeadad 80%);
  background-image: -moz-linear-gradient(bottom, #e88c8c 17%, #ea9b9b 59%, #eeadad 80%);
  background-image: -webkit-linear-gradient(bottom, #e88c8c 17%, #ea9b9b 59%, #eeadad 80%);
  background-image: -ms-linear-gradient(bottom, #e88c8c 17%, #ea9b9b 59%, #eeadad 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #e88c8c), color-stop(0.59, #ea9b9b), color-stop(0.8, #eeadad));
}
.sys-message .box .inner,
.page-message .box .inner {
  border: none;
}
