.toolbar-container {
  margin-top: -30px;
}
.toolbar {
  background: #eee;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  z-index: 100;
}
.toolbar .inner {
  padding: 6px 14px 6px 1px;
}
.toolbar li {
  float: left;
  border-right: dotted 1px #dddddd;
  padding: 0 5px;
  position: relative;
}
.toolbar a {
  display: block;
  width: 56px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  padding-top: 36px;
  padding: 38px 0 2px;
  color: #444;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.toolbar a:hover {
  background-color: #ddd;
}
.toolbar .add,
.toolbar .attachments .add {
  background: url('../../img/ico-add-24.png') no-repeat 50% 8px;
}
.toolbar .addfolder {
  background: url('../../img/ico-add-folder-24.png') no-repeat 50% 8px;
}
.toolbar .back {
  background: url('../../img/ico-back-24.png') no-repeat 50% 8px;
}
.toolbar .save {
  background: url('../../img/ico-save-24.png') no-repeat 50% 8px;
}
.toolbar .publish {
  background: url('../../img/ico-publish-24.png') no-repeat 50% 8px;
}
.toolbar .unpublish {
  background: url('../../img/ico-unpublish-24.png') no-repeat 50% 8px;
}
.toolbar .revert {
  background: url('../../img/ico-revert-24.png') no-repeat 50% 8px;
}
.toolbar .delete {
  background: url('../../img/ico-delete-24.png') no-repeat 50% 8px;
}
.toolbar .refresh {
  background: url('../../img/ico-reload-24.png') no-repeat 50% 8px;
}
.toolbar .preview {
  background: url('../../img/ico-preview-24.png') no-repeat 50% 8px;
}
.toolbar .sync {
  background: url('../../img/ico-sync-24.png') no-repeat 50% 8px;
}
.toolbar .edit-site {
  background: url('../../img/ico-edit-24.png') no-repeat 50% 8px;
}
.toolbar .detach {
  background: url('../../img/ico-detach-24.png') no-repeat 50% 8px;
}
.toolbar .seo {
  background: url('../../img/ico-seo-24.png') no-repeat 50% 8px;
}
.toolbar button,
.toolbar input {
  height: 40px;
  float: right;
  margin-top: 6px;
}
.toolbar input {
  width: 400px;
  padding: 0 12px;
  border: 1px solid #e2e2e2;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
  /* Fix for iPad */
}
.toolbar .search {
  background: #ffffff url('../../img/ico-search-24.png') no-repeat 50% 50%;
  border: 1px solid #e2e2e2;
  border-left: 0px none;
  width: 40px;
  height: 42px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.toolbar.fixed ul {
  position: fixed;
  background: #444;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 100;
  top: 60px;
  margin-left: -50px;
}
.toolbar.fixed ul li {
  float: none;
  border-right: 0 none;
  border-bottom: 1px dotted #222;
  padding: 0;
}
.toolbar.fixed ul li a {
  width: 24px;
  height: 24px;
  color: transparent;
  font-size: 0;
  background-position: 50% 50%;
  padding: 6px;
}
.main-content table {
  width: 100%;
}
.main-content td {
  vertical-align: top;
}
.main-content .list td {
  vertical-align: middle;
}
.main-content .tools {
  background: #eee;
  width: 74px;
  border-right: solid 1px #dddddd;
}
.main-content .tools li {
  position: relative;
}
.main-content .tools li a {
  display: block;
  font-size: 11px;
  text-align: center;
  width: 62px;
  height: 26px;
  color: #666;
  padding-top: 38px;
  margin: 6px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 9px;
  border-radius: 3px;
}
.main-content .tools li a:hover {
  background-color: #ddd;
}
.main-content .tools li.active a {
  background-color: #b2dfe7;
}
.main-content .tools .btn-content a {
  background-image: url('../../img/ico-content-24.png');
}
.main-content .tools .btn-properties a {
  background-image: url('../../img/ico-properties-24.png');
}
.main-content .tools .btn-settings a {
  background-image: url('../../img/ico-settings-24.png');
}
.main-content .tools .btn-comments a {
  background-image: url('../../img/ico-comments-24.png');
}
.main-content .tools .btn-regions a {
  background-image: url('../../img/ico-regions-24.png');
}
.main-content .tools.fixed-toolbar ul {
  position: fixed;
  top: 55px;
}
